body{
  padding: 30px;
  margin: 30px;
}
h1{
  text-align: center;
  padding-bottom: 20px;
}
p{
  
  color: #983030;
}
form{

  padding-bottom: 70px;
}

button{
  padding-top: 100px;

}
select{
  margin: 10px;
}
#place1{
  display: none;
}
#place2{
  display: none;
}
#place3{
  display: none;
}
h2{
  display: none;
}
